:root {
  --color-black: 29, 30, 35;
  --color-grey-90: 63, 64, 68;
  --color-grey-60: 138, 140, 143;
  --color-grey-40: 177, 178, 180;
  --color-grey-15: 225, 225, 226;
  --color-grey-8: 241, 241, 241;
  --color-grey-4: 247, 247, 247;
  --color-white: 255, 255, 255;

  --color-blue: 12, 121, 248;
  --color-orange: 255, 143, 0;
  --color-red: 255, 100, 108;
  --color-violet: 128, 52, 194;
  --color-green: 20, 198, 12;
  --color-yellow: 255, 221, 60;

  --background-secondary: 42, 43, 48;
}
