// Переменные для классовых отступов
:root {
  --offset-sm-xs: 4px;
  --offset-sm-s: 8px;
  --offset-sm-m: 12px;
  --offset-sm-l: 16px;
  --offset-md-s: 24px;
  --offset-md-m: 32px;
  --offset-md-l: 40px;
  --offset-lg-s: 48px;
  --offset-lg-m: 56px;
  --offset-lg-l: 64px;
  --offset-lg-xl: 72px;
  --offset-xlg-xs: 76px;
}

$offset-sm-xs: var(--offset-sm-xs);
$offset-sm-s: var(--offset-sm-s);
$offset-sm-m: var(--offset-sm-m);
$offset-sm-l: var(--offset-sm-l);
$offset-md-s: var(--offset-md-s);
$offset-md-m: var(--offset-md-m);
$offset-md-l: var(--offset-md-l);
$offset-lg-s: var(--offset-lg-s);
$offset-lg-m: var(--offset-lg-m);
$offset-lg-l: var(--offset-lg-l);
$offset-lg-xl: var(--offset-lg-xl);
$offset-xlg-xs: var(--offset-xlg-xs);

$base-offsets:(
  'sm-xs': $offset-sm-xs,
  'sm-s': $offset-sm-s,
  'sm-m': $offset-sm-m,
  'sm-l': $offset-sm-l,
  'md-s': $offset-md-s,
  'md-m': $offset-md-m,
  'md-l': $offset-md-l,
  'lg-s': $offset-lg-s,
  'lg-m': $offset-lg-m,
  'lg-l': $offset-lg-l,
  'lg-xl': $offset-lg-xl,
  'xlg-xs': $offset-xlg-xs
);

.offset-row {
  @each $name, $value in $base-offsets {
    &-#{$name} {
      margin-bottom: $value;
    }
  }
}

.offset-top {
  @each $name, $value in $base-offsets {
    &-#{$name} {
      margin-top: $value;
    }
  }
}

.y-offset {
  @each $name, $value in $base-offsets {
    &-#{$name} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }
}

.x-offset {
  @each $name, $value in $base-offsets {
    &-#{$name} {
      padding-right: $value;
      padding-left: $value;
    }
  }
}

.offset-right {
  @each $name, $value in $base-offsets {
    &-#{$name} {
      padding-right: $value;
    }
  }
}

.offset-left {
  @each $name, $value in $base-offsets {
    &-#{$name} {
      padding-left: $value;
    }
  }
}
