/* stylelint-disable */

$font-family: "Roboto", "Helvetica", sans-serif;

$min-width-0:(
  'h1': 38px/48px $font-family,
  'h2': 30px/38px $font-family,
  'h3': 24px/30px $font-family,
  'h4': 20px/28px $font-family,
  'h5': 18px/26px $font-family,
  'h6': 16px/24px $font-family,
  'body': 14px/22px $font-family,
  'caption': 12px/18px $font-family
);

$min-width-960:(
  'h1': 64px/80px $font-family,
  'h2': 30px/38px $font-family,
  'h3': 28px/35px $font-family,
  'h4': 22px/30px $font-family,
  'h5': 18px/26px $font-family,
  'h6': 16px/24px $font-family,
  'body': 14px/22px $font-family,
  'caption': 12px/18px $font-family
);

$min-width-1280:(
  'h1': 72px/90px $font-family,
  'h2': 38px/48px $font-family,
  'h3': 30px/38px $font-family,
  'h4': 24px/30px $font-family,
  'h5': 20px/28px $font-family,
  'h6': 18px/26px $font-family,
  'body': 16px/22px $font-family,
  'caption': 14px/22px $font-family
);

$min-width-1920:(
  'h1': 80px/100px $font-family,
  'h2': 48px/60px $font-family,
  'h3': 38px/48px $font-family,
  'h4': 28px/35px $font-family,
  'h5': 22px/30px $font-family,
  'h6': 20px/28px $font-family,
  'body': 18px/24px $font-family,
  'caption': 16px/24px $font-family
);

.text {
  @each $name, $value in $min-width-0 {
    &-#{$name} {
      font: $value;
    }
  }

  @media (min-width: 960px) {
    @each $name, $value in $min-width-960 {
      &-#{$name} {
        font: $value;
      }
    }
  }

  @media (min-width: 1280px) {
    @each $name, $value in $min-width-1280 {
      &-#{$name} {
        font: $value;
      }
    }
  }

  @media (min-width: 1920px) {
    @each $name, $value in $min-width-1920 {
      &-#{$name} {
        font: $value;
      }
    }
  }
}

.text-bold {
  font-weight: 800;
}

.text-medium {
  font-weight: 600;
}
