<div>
  <lib-ui-lib-example>
    <div class="image"></div>
  </lib-ui-lib-example>

  <div class="offset-left-md-m">
    <div class="offset-top-sm-l">Это нежирный текст</div>
    <div class="text-bold offset-top-sm-s">Это жирный текст</div>

    <div class="text-h2 offset-top-sm-s change-color">Тут заголовок h2</div>
    <div class="text-h6 offset-top-sm-s">Тут заголовок h6</div>
  </div>

  <div class="icons offset-top-sm-l">
    <lib-svg-icons name="work"></lib-svg-icons>
    <svg-icon key="settings" color="green"></svg-icon>
    <svg-icon key="settings" color="yellow"></svg-icon>
  </div>

  <div class="img offset-top-sm-l"></div>
</div>
