.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 80px;
  margin-left: var(--offset-md-m);
  background-color: rgb(var(--color-grey-40));

  & svg-icon {
    width: 40px;
    height: 40px;
  }
}
