<div class="offset-left-md-m">
  <div class="offset-top-md-m">
    <ng-content select=".image"></ng-content>
  </div>

  <p class="text-bold text-h6 offset-top-md-m">
    ui-lib-example works!
  </p>

  <div class="icons offset-top-sm-l">
    <svg-icon key="work" color="red"></svg-icon>
    <svg-icon key="settings" color="green"></svg-icon>
    <svg-icon key="settings" color="yellow"></svg-icon>
  </div>

  <div *ngIf="true">
    <form [formGroup]="form">
      <input type="text" formControlName="name"/>
    </form>
  </div>
</div>
